
/* Basic Typography & Colors
-------------------------------------------------------------- */
/* Add general site styling here for typography and background */
body {
  font-size: 75%;   /* also set in fusion_starter.info: settings[base-font-size] = font-size-12 */
  background: #ee0c02 url(../images/header-bg.png) repeat-x top center;
}

body.green-body {
  background: #0B9608 url(../images/header-bg-green.png) repeat-x top center;
}

body.orange-body {
  background: #ff7e00 url(../images/header-orange-bg.png) repeat-x top center;
}

body.purple-body {
  background: #b300ee url(../images/header-purple-bg.png) repeat-x top center;
}

body.yellow-body {
  background: #f4ff11 url(../images/header-yellow-bg.png) repeat-x top center;
}

body.blue-body {
  background: #001fff url(../images/header-blue-bg.png) repeat-x top center;
}

/* Default link styles - separate a:visited for a different visited link style */
a,
a:link,
a:visited {
  color: #292929;
}

/* Hover/active link styles. Don't forget :focus for accessibility */
a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

h4 {
margin: 0;
}

/*Skinr Specific Colors*/
.skinr-fonts {
  padding: 10px;
  font-size: 24px;
  font-weight: narrow;
  text-transform: uppercase;
  font-family: "Arial Narrow", Arial, Helvetica, Verdana;
  margin-top: 10px;
}

.red h2.title {
  background: #b2110a url(../images/h2-sidebar-bg.png) 100% top no-repeat;
}

.blue h2.title{
  background: #001fff url(../images/h2-sidebar-blue-bg.png) 100% top no-repeat;
}

.green h2.title{
  background: #0B9608 url(../images/h2-sidebar-green-bg.png) 100% top no-repeat;
}

.orange h2.title{
  background: #ff7e00 url(../images/h2-sidebar-orange-bg.png) 100% top no-repeat;
}

.yellow h2.title{
  background: #f4ff11 url(../images/h2-sidebar-yellow-bg.png) 100% top no-repeat;
  color: #000;
}

.yellow h2.title a:link {
  color: #000;
}

.yellow .postscript-bottom-wrapper h2.title {
  color: #fff;
}

.purple h2.title{
  background: #b300ee url(../images/h2-sidebar-purple-bg.png) 100% top no-repeat;
}

.gold h2.tile{
  background: #b2110a url(../images/h2-sidebar-gold-bg.png) 100% top no-repeat;
}

.silver h2.tile{
  background: #b2110a url(../images/h2-sidebar-silver-bg.png) 100% top no-repeat;
}

.white h2.tile{
  background: #b2110a url(../images/h2-sidebar-white-bg.png) 100% top no-repeat;
}

/* Specific Typography
-------------------------------------------------------------- */
#site-name {
  font-size: 300%;
  margin: 30px 0 10px 0;
  float: right;
}

.footer-message {
  font-size: 90%;
}


/* HTML Elements
-------------------------------------------------------------- */
body {
  color: #f0f0f0;
  font-size: 12px;
  line-height: 18px;
  font-family: Arial, Verdana, Helvetica;
}

/* Site Info
-------------------------------------------------------------- */
/* Wrapper around logo, site name, and slogan */
.header-site-info span {
  display: block;
}

/* Add float here to put logo and site name side by side, also add margins as
  needed */
#logo {
  float: left;
  margin:21px 10px 0px 0px;
}

/* Link and hover styles for site name */
#site-name a:link,
#site-name a:visited,
#site-name a:hover,
#site-name a:active {
font-size: 35px;
color: #fff;
}

/* Typography for site slogan */
#slogan {
  font-family: "Arial Narrow", Arial, Verdana, Helvetica;
  font-size: 14px;
  text-transform: uppercase;
  color: #ff0b00;
  font-weight: bold;
}

.orange-body #slogan {
  color: #ff7e00;
}

.purple-body #slogan {
  color: #b300ee;
}

.yellow-body #slogan {
  color: #f4ff11;
}

.green-body #slogan {
  color: #0B9608;
}

.blue-body #slogan {
  color: #001fff;
}
/* Regions

  Classes (.region-name) should always be used instead of IDs (#region-name) so
  that Skinr styles can override them with a class later
-------------------------------------------------------------- */

/* All Regions
-------------------------------------------------------------- */
/* By default this wrapper is set to 100% width and centered -- override here to
  narrow wrapper or align left or right */
.page {
}

/* The 0 values here remove padding and spacing at the bottom of the page.
  Remove to add a gap at the very bottom of the page */
.page-inner {
  border: 0;
  margin-bottom: 0;
  padding: 0;
}


/* Header Regions
-------------------------------------------------------------- */
/* Header Top region to the bottom of Header region */
/* For full-width header background, add background image/color here */
.header-group-wrapper {
  margin: 0;
  height: 114px;
}

.header-group {
}

/* Header Top region which sits above the header */
/* Works well with inline login or inline menu block style */
.header-top-wrapper {
}

.header-top {
}


/* Primary Menu
/-------------------------------------------------------------- */
/* Add general styles for primary menu here, such as typography, borders, floats,
  or spacing above/below */
.primary-menu {
  font-family: "Arial Narrow", Arial, Helvetica, Verdana;
  font-size: 14px;
  text-transform: uppercase;
  color: #c0c0c0;
  font-weight: bold;
  width: 400px;
  float: right;
  text-align: right;
  margin-top:30px;
}

/* styles for Superfish primary menu */
.primary-menu-inner ul.sf-menu {
}

/* Link style for top level menu items, add padding here */
.primary-menu-inner ul.sf-menu a,
.primary-menu-inner ul.sf-menu a:visited  {
  color: #c0c0c0;
}


.primary-menu-inner ul.sf-menu li.active-trail a {
  color: #fff;
}

.primary-menu-inner ul.sf-menu a:hover,
.primary-menu-inner ul.sf-menu a:focus {
  color: #ff0b00;
}

.green-body .primary-menu-inner ul.sf-menu a:hover,
.green-body .primary-menu-inner ul.sf-menu a:focus {
  color: #0B9608;
}

.blue-body .primary-menu-inner ul.sf-menu a:hover,
.blue-body .primary-menu-inner ul.sf-menu a:focus {
  color: #001fff;
}

.yellow-body .primary-menu-inner ul.sf-menu a:hover,
.yellow-body .primary-menu-inner ul.sf-menu a:focus {
  color: #f4ff11;
}

.purple-body .primary-menu-inner ul.sf-menu a:hover,
.purple-body .primary-menu-inner ul.sf-menu a:focus {
  color: #b300ee;
}

.orange-body .primary-menu-inner ul.sf-menu a:hover,
.orange-body .primary-menu-inner ul.sf-menu a:focus {
  color: #ff7e00;
}

/* These are the top level menu items, add border-right here for separators */
.primary-menu-inner ul.sf-menu li {
}

/* Add border-right: 0; here to remove separator on last menu item */
.primary-menu-inner ul.sf-menu li.last {
}

/* Style for container of dropdown, add background or border */
.primary-menu-inner ul.sf-menu ul {
}

/* Style for individual dropdown menu items, add border-bottom for separators */
.primary-menu-inner ul.sf-menu li li {
  background: #B2110A url(../images/red-trans-bg.png) repeat-y 90% top;
}

.primary-menu-inner ul.sf-menu li li a:hover {
  color: #fff;
}

.primary-menu-inner ul.sf-menu li li.last {

}

.primary-menu-inner ul.sf-menu li li li {
}

/* Style for hover of dropdown menu items (add background-color here) */
.primary-menu-inner ul.sf-menu li ul li:hover,
.primary-menu-inner ul.sf-menu li ul li.sfHover {
  background: #ee0c02 url(../images/red-trans-bg.png) repeat-y 90% top;
}

.primary-menu-inner ul.sf-menu li ul li a:hover,
.primary-menu-inner ul.sf-menu li ul li a.sfHover {
  color: #fff;
}


/* Secondary menu
-------------------------------------------------------------- */
/* This menu usually appears in the header as a set of simple text links */
.secondary-menu {
}

/* Set general style for menu here -- background, alignment, etc. */
.secondary-menu-inner ul.links {
}

/* Add a border-right here for a separator */
.secondary-menu-inner ul.links li {
}

/* Add border-right: 0; here to remove right separator on last menu item */
.secondary-menu-inner ul.links li.last {
}

/* Styles for links */
.secondary-menu-inner ul.links li a:link,
.secondary-menu-inner ul.links li a:visited {
  padding: 3px;
}

.secondary-menu-inner ul.links li a:hover,
.secondary-menu-inner ul.links li a:focus,
.secondary-menu-inner ul.links li a.active {
}


/* Header - Search
-------------------------------------------------------------- */
.search-box {
}

.search-box-inner {
}

.search-box-inner form#search-theme-form {
}

.search-box-inner input#edit-search-theme-form-header {
}


/*  Preface Regions
-------------------------------------------------------------- */
/* The Preface Top region sits between the header and the Main Area
 (columns, sidebars, and main content).  The Preface Bottom region
 is inside the Main Area. */
.preface-top-wrapper {

}

.preface-top {
  background: #000;
  padding: 15px;
}

.preface-top-inner {
}

.preface-bottom {
}

.preface-bottom-inner {
}


/*  Main Area (content + sidebars + preface bottom + postscript top)
-------------------------------------------------------------- */
.main-wrapper {
}

.main-inner {
width: 960px;
}

.content-content {
margin-top: 10px;
}

.node ul, ul li.views-rows {
margin-left: 0;
padding-left: 0;
list-style: none;
}

.node ul li.views-row, .node .content ul li{
padding:  2px 0px 0px 17px;
background-image: url(../images/bullet-bg.png);
background-repeat: no-repeat;
background-position: 0;
}

.orange-body ul li.views-row, .orange-body .node .content ul li{
padding:  2px 0px 0px 17px;
background-image: url(../images/bullet-orange-bg.png);
background-repeat: no-repeat;
background-position: 0;
}

.green-body ul li.views-row, .green-body .node .content ul li{
padding:  2px 0px 0px 17px;
background-image: url(../images/bullet-green-bg.png);
background-repeat: no-repeat;
background-position: 0;
}

.blue-body .node ul li{
padding:  2px 0px 0px 17px;
background-image: url(../images/bullet-blue-bg.png);
background-repeat: no-repeat;
background-position: 0;
}

.purple-body .node ul li{
padding:  2px 0px 0px 17px;
background-image: url(../images/bullet-purple-bg.png);
background-repeat: no-repeat;
background-position: 0;
}

.yellow-body .node ul li{
padding:  2px 0px 0px 17px;
background-image: url(../images/bullet-yellow-bg.png);
background-repeat: no-repeat;
background-position: 0;
}

.node li .views-field-title {
background: none transparent;
font-size: 16px;
font-weight: normal;
text-transform: none;
line-height: 8px;
}

/* Sidebar Regions
-------------------------------------------------------------- */
/* Sidebar widths can be controlled through theme settings */
.sidebar-first {
  background: url(../images/sidebar-top-bg.png) repeat-x left top;
  padding-top: 65px;
}


.sidebar-last {
  background: url(../images/sidebar-top-bg.png) repeat-x left top;
  padding-top: 65px;
}


.sidebar h2 {
  background: #b2110a url(../images/h2-sidebar-bg.png) 100% top no-repeat;
  padding: 10px;
  font-size: 24px;
  font-weight: narrow;
  text-transform: uppercase;
  font-family: "Arial Narrow", Arial, Helvetica, Verdana;
  margin-top: 10px;
}

.sidebar-last-inner {
}

.green-sidebar-top .sidebar-last, .green-sidebar-top .sidebar-first{
  background: url(../images/sidebar-top-green-bg.png) repeat-x left top;
  padding-top: 65px;
}

.red-sidebar-top .sidebar-last, .red-sidebar-top .sidebar-first{
  background: url(../images/sidebar-top-bg.png) repeat-x left top;
  padding-top: 65px;
}

.purple-sidebar-top .sidebar-last, .purple-sidebar-top .sidebar-first{
  background: url(../images/sidebar-top-purple-bg.png) repeat-x left top;
  padding-top: 65px;
}

.yellow-sidebar-top .sidebar-last, .yellow-sidebar-top .sidebar-first{
  background: url(../images/sidebar-top-yellow-bg.png) repeat-x left top;
  padding-top: 65px;
}

.blue-sidebar-top .sidebar-last, .blue-sidebar-top .sidebar-first{
  background: url(../images/sidebar-top-blue-bg.png) repeat-x left top;
  padding-top: 65px;
}

/* Content Regions
-------------------------------------------------------------- */
.main-content-inner {
  background: #8c8676;
}

.content-group-inner {
  background: #888272;
  min-height: 450px;
}

.content-top {
  margin-top: 10px;
}

.content {
}

.content-inner {

}

.content-bottom {
}

/* This region only appears on full node pages. It's useful for ads or other
  content between the body of the node and its comments */
.node-bottom {
}

/*  Postscript & Footer Regions
-------------------------------------------------------------- */
.postscript-top {
}

.postscript-top-inner {
}

.postscript-bottom-wrapper {
background: #1f1f1f;
border-top: 10px solid #000;
}

.postscript-bottom-wrapper h2.title {
  background: none transparent;
  padding: 0;
}

.postscript-bottom {
}

.postscript-bottom-inner {
  margin-top: 10px;
}

.postscript-bottom-inner a{
  color: #aeaeae;
}

.postscript-bottom-inner .block {
	border-right: 1px solid #323232;
	width: 319px;
	min-height: 200px;
}

.postscript-bottom-inner .last {
	border-right: none;
}

.footer-wrapper {
background: #8C8676;
height: 100px;
}

.footer {
}

.footer-inner {
}

.footer-inner h2.title {
  background: none transparent;
  display: none;
}

.footer-inner .block {
width: 320px;
}

.footer-inner li {
  display: inline;
}

.footer-message-wrapper {
}

.footer-message {
}

.footer-message-inner {
}

.footer-message-text {
}


/* Page titles
/-------------------------------------------------------------- */
/* Page and full node titles */
h1.title {
  background: url(../images/h1-bg.png) repeat-x left top #000;
  font-family: "Arial Narrow", Arial, Helvetica, Verdana;
  font-size:  25px;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  padding: 21px 10px 22px;
  min-height: 18px;
  margin: 0 -10px;
  line-height: 22px;
}

h2.homepage-h2 {
  background: url(../images/h1-bg.png) repeat-x left top;
  font-family: "Arial Narrow", Arial, Helvetica, Verdana;
  font-size:  25px;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  padding: 21px 10px 22px;
  min-height: 18px;
  margin: 0 -10px;
  width:940px;
}

/*Panel Titles
/-------------------------------------------------------------- */
/* Panel node titles */
.pane-title {
  background: url(../images/h1-bg.png) repeat-x left top;
  font-family: "Arial Narrow", Arial, Helvetica, Verdana;
  font-size:  40px;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  padding: 21px 10px 22px;
  min-height: 18px;
  margin: 0 -10px;
}

/* Default node styles
/-------------------------------------------------------------- */
/* Change unpublished and preview colors for dark background themes */
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}

/* Typography for node titles */
h2.title {
  background: #b2110a url(../images/h2-sidebar-bg.png) 100% top no-repeat;
  padding: 10px;
  font-size: 24px;
  font-weight: narrow;
  text-transform: uppercase;
  font-family: "Arial Narrow", Arial, Helvetica, Verdana;
  margin-top: 10px;
  line-height: 22px;
}

/* Colors and styles for linked node titles, ie. teaser listing at /node */
h2.title a:link,
h2.title a:visited {
  color: #fff;
}

h2.title a:hover,
h2.title a:focus,
h2.title a:active {
}

.red-body .node h2.title {
  background: #b2110a url(../images/h2-sidebar-bg.png) 100% top no-repeat;
}

.blue-body .node h2.title{
  background: #001fff url(../images/h2-sidebar-blue-bg.png) 100% top no-repeat;
}

.green-body .node h2.title{
  background: #0B9608 url(../images/h2-sidebar-green-bg.png) 100% top no-repeat;
}

.orange-body .node h2.title{
  background: #ff7e00 url(../images/h2-sidebar-orange-bg.png) 100% top no-repeat;
}

.yellow-body .node h2.title{
  background: #f4ff11 url(../images/h2-sidebar-yellow-bg.png) 100% top no-repeat;
  color: #000;
}

.purple-body .node h2.title{
  background: #b300ee url(../images/h2-sidebar-purple-bg.png) 100% top no-repeat;
}

.gold-body .node h2.tile{
  background: #b2110a url(../images/h2-sidebar-gold-bg.png) 100% top no-repeat;
}

.silver-body .node h2.tile{
  background: #b2110a url(../images/h2-sidebar-silver-bg.png) 100% top no-repeat;
}

.white-body .node h2.tile{
  background: #b2110a url(../images/h2-sidebar-white-bg.png) 100% top no-repeat;
}

/* Separators and padding for node teasers */
.teaser {
}

/* Author/date info */
.meta {
}

.submitted {
}


/*views styling */
.views-field-nothing {
background: url("../images/date-cal-icon.png") no-repeat scroll 5% 100% transparent;
height: 60px;
width: 60px;
float: left;
margin: -4px 8px 4px 0;
}

.green-body .views-field-nothing {
background: url("../images/date-cal-icon-green.png") no-repeat scroll 5% 100% transparent;
}

.orange-body .views-field-nothing {
background: url("../images/date-cal-icon-orange.png") no-repeat scroll 5% 100% transparent;
}

.purple-body .views-field-nothing {
background: url("../images/date-cal-icon-purple.png") no-repeat scroll 5% 100% transparent;
}

.yellow-body .views-field-nothing {
background: url("../images/date-cal-icon-yellow.png") no-repeat scroll 5% 100% transparent;
}

.blue-body .views-field-nothing {
background: url("../images/date-cal-icon-blue.png") no-repeat scroll 5% 100% transparent;
}


.views-field-nothing-month {
    font-size: 15px;
    font-weight: bold;
    margin: 6px 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 60px;
	text-shadow: 0px -1px 0px #374683;
}

.views-field-nothing-day {
font-weight: bold;
color: #000;
font-size: 28px;
text-align: center;
position: relative;
text-shadow: 0px 1px 0px #e5e5ee;
margin-top: 32px;
}

.view-id-blog .views-field-title {
font-size: 20px;
text-decoration: none;
margin-bottom: 6px;
color: #292929;
padding: 0;
background: none transparent;
font-weight: bold;
}

.view-id-blog .views-field-title a {
margin-top:4px;
}

.views-field-title h4{
  font-size: 18px;
  font-weight: narrow;
  text-transform: uppercase;
  font-family: "Arial Narrow", Arial, Helvetica, Verdana;
  margin-bottom: 10px;
}

.views-field-title a {
  color: #292929;
}

/* Links for nodes (taxonomy, commenting, read more, etc) */
.node ul.links li {
}
.node ul.links a {
}

/* Only more/read more links */
div.node .read-more a,
div.node .more-link a {
}

/* Drupal Messages
/-------------------------------------------------------------- */
/* General style for all errors/messages (border, padding, etc.) */
div.content-messages div.messages,
div.content-help div.help {
}

/* Status messages: green */
div.content-messages-inner div.status {
}

/* Warning messages: yellow */
div.content-messages-inner div.warning {
}

/* Error messages: red */
div.content-messages-inner div.error {
}

/* Help messages: blue */
div.content-help-inner div.help {
}

/* Error that appears when a required form field is not filled out */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #aa1144;
}

/* "New" text and required form field asterisk (default = red) */
.marker,
.form-required {
  color: #aa1144;
}


/* Default block title styles
/-------------------------------------------------------------- */
h2.block-title {
}


/* Breadcrumbs
-------------------------------------------------------------- */
.breadcrumbs {
}

.breadcrumbs a:link,
.breadcrumbs a:visited {
}


/* Tab Menus
/-------------------------------------------------------------- */
#content-tabs {
  background-color: transparent;
  float: left; /* LTR */
  margin: 20px 0;
  padding: 0;
}

#content-tabs ul.primary,
#content-tabs ul.secondary {
  border-bottom: 1px solid #000;
  clear: both;
  float: left; /* LTR */
  margin: 0;
  padding: 0 10px;
}

#content-tabs ul.secondary {
  border-bottom: 1px solid #555;
  margin-top: 10px;
  text-transform: lowercase;
}

#content-tabs ul.primary li,
#content-tabs ul.secondary li {
  border-style: none;
  display: inline;
  float: left; /* LTR */
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

#content-tabs ul.primary li a:link,
#content-tabs ul.primary li a:visited,
#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  background-color: transparent;
  border: none;
  color: #000;
  float: left; /* LTR */
  font-weight: bold;
  margin: 0;
  padding: 0 0 6px 0;
  text-decoration: none;
  white-space: nowrap;
}

#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  color: #555;
}

#content-tabs ul.primary li a.active:link,
#content-tabs ul.primary li a.active:visited {
  border-bottom: 4px solid #000;
  color: #555;
  padding-bottom: 2px;
}

#content-tabs ul.secondary li a.active:link,
#content-tabs ul.secondary li a.active:visited {
  border-bottom: 4px solid #555;
  color: #777;
  padding-bottom: 2px;
}

#content-tabs ul.primary li a:hover,
#content-tabs ul.primary li a:focus,
#content-tabs ul.secondary li a:hover,
#content-tabs ul.secondary li a:focus {
  border-bottom: 4px solid #777;
  color: #777;
  padding-bottom: 2px;
}

/* Pagers
-------------------------------------------------------------- */
ul.pager {
}

ul.pager li {
}

ul.pager a,
ul.pager li.pager-current {
  border-color: #333;
}

ul.pager li.pager-current {
  background-color: #777;
  color: #fff;
}

ul.pager a:hover,
ul.pager a:active,
ul.pager a:focus {
  background-color: #777;
  border-color: #333;
  color: #fff;
}

/* Forms
/-------------------------------------------------------------- */
/* Typography and backgrounds for all form buttons */
form input.form-submit {
  margin: 2px;
  padding: 3px 5px;
}

/* Hover style for form buttons */
form input.form-submit:hover,
form input.form-submit.hover,
form input.form-submit:focus {
}

/* Typography, background, borders, padding for form fields */
.form-item input,
.form-item select,
.form-item textarea {
}

/* Remove backgrounds and border on radios and checkboxes */
.form-item .form-radio,
.form-item .form-checkbox {
  background: none;
  border: none !important;
}

/* Fieldset wrapper around groups of form elements -- add border here */
fieldset {
}

/* Typography and spacing for legend of fieldsets */
fieldset legend {
}

/* Link style for legend of fieldsets */
fieldset legend,
legend.collapse-processed,
legend.collapse-processed a:link,
legend.collapse-processed a:visited {
}

/* Custom icons on (open) collapsible fieldsets */
html.js fieldset.collapsible legend a:link,
html.js fieldset.collapsible legend a:visited {
}

/* Custom icons on (closed) collapsible fieldsets */
html.js fieldset.collapsed legend a:link,
html.js fieldset.collapsed legend a:visited {
}


/* Tables
-------------------------------------------------------------- */
table {
}

/* Body of tables */
tbody {
  border-top: none;
}

/* Header of tables */
thead th,
th {
  border-bottom: none;
}

tbody th {
  border-bottom: none;
}

/* Alternating row background styles */
tr.even {
  background-color: #eee;
  border-bottom: none;
  padding: 0;
}

tr.odd {
  background-color: #fff;
  border-bottom: none;
  padding: 0;
}

td {

}

td.active {
}

tr.drag td,
tr.drag-previous td {
  color: #000;
}


/* Maintenance Page
/-------------------------------------------------------------- */
/* Maintenance page tpl file in Fusion Core has simplified layout, but you can
  also add specific styles, such as a background, just for your offline page */
.in-maintenance  {
}


/*--------------------------------------------------------------*/
/* Module styles
/-------------------------------------------------------------- */


/* Book
/-------------------------------------------------------------- */
.book-navigation .menu {
  border-top: 1px solid #ccc;
}

.book-navigation .page-links {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}


/* Comments
/-------------------------------------------------------------- */
/* Style for each individual comment */
div.comment {
}

/* Subject (title) of each comment */
div.comment h3.title {
}

/* Links (edit, reply, delete) for each comment */
div.comment div.links a,
div.comment ul.links a {
}

/* Alternating styles for even/odd comments */
.comments div.odd {
  background-color: #fff;
}

.comments div.even {
  background-color: #eee;
}

/* A special highlight style for a comment by the author of the node */
.comments div.comment-by-author {
  background-color: #ddd;
}

/* Comment signatures */
.signature {
  border-top: 1px solid #d6ddb9;
}

/* User avatars in comments */
.comment-wrapper .picture img {
}


/* Forum
/-------------------------------------------------------------- */
#forum {
  color: #000;
}

#forum .description {
}

.forum-topic-navigation {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

#forum thead{
line-height: 30px;
}

#forum tr.odd {
  background-color: #B2110A;
}

.orange-body #forum tr.odd {
  background-color: #ff7e00;
}

.purple-body #forum tr.odd {
  background-color: #b300ee;
}

.yellow-body #forum tr.odd {
  background-color: #f4ff11;
}

.green-body #forum tr.odd {
  background-color: #0B9608;
}

.blue-body #forum tr.odd {
  background-color: #001fff;
}

#forum tr.odd a{
  color: #fff;
}

#forum tr td.forum {
background-image: none;
padding-left: 0;
}

#forum tr td.forum .name a{
  background-image: url(/misc/forum-default.png);
  background-position: 0 0 0 0;
  background-repeat: no-repeat;
  padding: 1px 0 0 20px;
}

#forum td a {
color: #B2110A;
}

.orange-body #forum td a {
color: #ff7e00;
}

.purple-body #forum td a {
color: #b300ee;
}

.yellow-body #forum td a {
color: #f4ff11;
}

.green-body #forum td a {
color: #0B9608;
}

.blue-body #forum td a {
color: #001fff;
}

#forum td {
 padding: 10px;
}

/* Poll
/-------------------------------------------------------------- */
div.poll div.bar {
  background-color: #ddd;
}

div.poll div.bar div.foreground {
  background-color: #999;
}


/* Profiles
/-------------------------------------------------------------- */
.profile .picture {
  float: none;
}

/* Styles for sub-headings on user profiles */
.profile dt {
  background-color: #ccc;
}


/* Ubercart - catalog
/-------------------------------------------------------------- */

/* Horizontal list of subcategories in catalog */
ul.uc-categories {
}

.uc-categories li a {
  font-weight: bold;
  padding: 0 5px 0 3px;
}

/* Product and category names */
.catalog-grid-title a:link,
.catalog-grid-title a:visited,
.category a:link,
.category a:visited {
}

.catalog-grid-title a:hover,
.catalog-grid-title a:focus,
.category a:hover,
.category a:focus {
}

/* Sell price in Ubercart catalog */
.category-grid-products .catalog-grid-sell-price {
}

/* Ubercart - add to cart buttons
/-------------------------------------------------------------- */

/* Add to cart buttons */
input.node-add-to-cart,
input.list-add-to-cart {
}

/* Hover and focus styles, with .hover class added for IE6 support */
input.node-add-to-cart:hover,
input.node-add-to-cart.hover,
input.node-add-to-cart:focus,
input.list-add-to-cart:hover,
input.list-add-to-cart.hover,
input.list-add-to-cart:focus {
}

/* Ubercart - product nodes
/-------------------------------------------------------------- */

#field-group {
}

#price-group {
}

/* Product images */
.product-image a img {
}

.product-image a:hover img,
.product-image a:focus img {
}

/* Display price on full product nodes */
.full-node .product-group .uc-price-display {
}

/* Product attributes on full nodes */
.full-node .product-group .attributes {
}

/* Ubercart - general / checkout
/-------------------------------------------------------------- */

/* For optional "Powered by Ubercart" footer message */
#store-footer {
}

#store-footer a:link,
#store-footer a:visited {
}

/* View cart/Checkout links in Ubercart cart block */
.cart-block-summary-links ul.links li a {
}

.cart-block-summary-links ul.links li.cart-block-checkout a:link,
.cart-block-summary-links ul.links li.cart-block-checkout a:visited {
}

/* Key checkout process buttons: Checkout, Continue, and Submit Order */
#uc-cart-view-form #edit-checkout,
#uc-cart-checkout-form #edit-continue,
#uc-cart-checkout-review-form #edit-submit {
}

/* Table on final order review page */
.order-review-table {
}

#cart-form-products table th {
  border-bottom: 3px solid #dec2c3;
}


/* Skinr
/-------------------------------------------------------------- */

/* This is a sample Skinr style to get you started. See fusion_starter.info */
.fusion-example-stylename .inner {
  /* When setting the background color, also set foreground colors for text and
    links, even if it's similar to the default body style. Remember, this block
    style may be used in regions with other foreground colors, thus making text
    invisible if left unspecified */
  background-color: #ccc;
  color: #000;
  /* All padding and borders should go on the .inner div, so as not to break
    the widths of the grid */
  border: 3px solid #000;
  padding: 10px;
}
